@use '../abstract/variables' as var;
@use '../abstract/mixins' as mx;
@use '../abstract/functions' as fct;

.btn {
  transition-property: background-color, padding, gap;
  @include mx.transition();

  &__icon {
    width: 0;
    opacity: 0;
    transition-property: width, opacity;
    @include mx.transition();
  }

  &:hover {
    gap: fct.size(sm);

    .btn__icon {
      width: fct.px-to-rem(24px);
      opacity: 1;
    }
  }
}

.filters {
  &__button {
    width: fit-content;
    height: 23px;
    padding: fct.px-to-rem(2px) fct.px-to-rem(10px);

    border: none;
    border-radius: fct.px-to-rem(20px);
    background-color: fct.color(filter-basic);
    color: fct.color(dark-purple);
    cursor: pointer;

    @include mx.typo(mulish, 500);
    font-size: fct.px-to-rem(14px);
    transition: background-color 300ms ease-out;

    &:hover,
    &--active {
      background-color: fct.color(primary-orange);
    }
  }

  &__status {
    @include mx.flex(row, flex-start, center);
    gap: fct.px-to-rem(25px);
  }
}

.btn-cancel {
  @include mx.flex(row, center, center);
  padding: fct.px-to-rem(8px) fct.size(sm);
  gap: fct.px-to-rem(10px);
  line-height: 1;

  color: fct.color(wht);
  background-color: fct.color(cancel-btn);
  border: 0;
  border-radius: fct.px-to-rem(10px);
  cursor: pointer;

  @include mx.transition();
  display: inline-flex;
  justify-content: center;
  align-items: stretch;

  &:hover {
    color: fct.color(primary-purple);
    background-color: fct.color(secondary-orange);
  }

  &__text {
    display: block;

    @include mx.typo(nokora, 700);
    font-size: fct.font-size(basic);
    line-height: 1;

    transform: translateY(fct.px-to-rem(1px));
  }

  &__icon {
    display: block;
    flex-shrink: 0;
    width: fct.px-to-rem(13.15px);
    height: fct.px-to-rem(13.15px);

    background-color: currentColor;
    mask: url('/app-icons/close.svg') center / contain no-repeat;
    -webkit-mask: url('/app-icons/close.svg') center / contain no-repeat;
  }
}

.btn-delete {
  @include mx.flex(row, center, center);
  width: fct.px-to-rem(26px);
  height: fct.px-to-rem(26px);
  padding: 0;
  border: 0;
  border-radius: fct.px-to-rem(3px);
  background-color: transparent;
  flex-shrink: 0;
  cursor: pointer;

  &__icon {
    display: block;
    width: fct.px-to-rem(17px);
    height: fct.px-to-rem(19px);
    background: url('/app-icons/delete-w.svg') center / contain no-repeat;
  }
}

.add-btn {
  @include mx.flex(column, center, center);
  box-sizing: border-box;
  width: fct.px-to-rem(172px);
  height: fct.px-to-rem(40px);
  padding: fct.size(xxs) 0;

  color: fct.color(wht);
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &__content {
    @include mx.flex(row, center, center);
    width: fct.px-to-rem(117px);
    height: fct.px-to-rem(21px);
    gap: fct.px-to-rem(7px);
  }

  &__text {
    width: fct.px-to-rem(94px);
    height: fct.px-to-rem(21px);

    @include mx.typo(nokora, 700);
    font-size: fct.font-size(basic);
    line-height: 100%;
    letter-spacing: 0;

    color: fct.color(wht);
  }

  &__icon {
    display: block;
    width: fct.size(md);
    height: fct.size(md);
    margin-bottom: fct.px-to-rem(8px);
    flex-shrink: 0;
  }

  &__line {
    display: block;
    width: fct.px-to-rem(117px);
    height: 0;
    border-block-start: fct.px-to-rem(1px) solid fct.color(wht);
  }
}

.footer {
  &__btn {
    @include mx.flex(row, center, center);
    box-sizing: border-box;
    width: fit-content;
    min-width: fct.px-to-rem(95px);
    min-height: fct.px-to-rem(48px);
    padding: fct.size(sm) fct.size(md);
    gap: 0;

    color: fct.color(publish-text);
    background-color: fct.color(secondary-orange);
    border: 0;
    border-radius: fct.px-to-rem(10px);
    cursor: pointer;

    @include mx.transition();

    .btn__text {
      @include mx.typo(nokora, 700);
      font-size: fct.font-size(md);
      line-height: 100%;
      letter-spacing: 0;
    }

    .btn__icon {
      display: block;
      width: 0;
      min-width: 0;
      height: fct.px-to-rem(20px);
      flex-shrink: 0;
      object-fit: contain;
      opacity: 0;

      @include mx.transition();
    }

    &:hover,
    &:active,
    &--active {
      gap: fct.px-to-rem(10px);
      background-color: fct.color(primary-orange);

      .btn__icon {
        width: fct.px-to-rem(20px);
        opacity: 1;
      }
    }
  }
}

.survey-questions {
  &__add {
    @include mx.flex(row, center, center);
    box-sizing: border-box;
    width: fit-content;
    min-width: fct.px-to-rem(195px);
    min-height: fct.px-to-rem(40px);
    padding: fct.px-to-rem(8px) fct.size(sm);
    gap: fct.px-to-rem(10px);

    color: fct.color(wht);
    background-color: fct.color(cancel-btn);
    border: 0;
    border-radius: fct.px-to-rem(10px);
    cursor: pointer;

    .btn__text {
      @include mx.flex(row, center, center);
      min-width: fct.px-to-rem(137px);
      min-height: fct.px-to-rem(21px);

      @include mx.typo(nokora, 700);
      font-size: fct.font-size(basic);
      line-height: 100%;
      letter-spacing: 0;
    }

    .btn__icon {
      display: block;
      width: fct.size(lg);
      height: fct.size(lg);
      flex-shrink: 0;

      background: url('/app-icons/circle.svg') center / contain no-repeat;
    }
  }

}

.question-btn {
  @include mx.flex(row, center, center);
  box-sizing: border-box;
  width: fit-content;
  min-width: fct.px-to-rem(195px);
  min-height: fct.px-to-rem(40px);
  padding: fct.px-to-rem(8px) fct.size(sm);
  gap: fct.px-to-rem(10px);

  color: fct.color(wht);
  background-color: fct.color(cancel-btn);
  border: 0;
  border-radius: fct.px-to-rem(10px);
  cursor: pointer;

  &__text {
    @include mx.flex(row, center, center);
    min-width: fct.px-to-rem(137px);
    height: fct.px-to-rem(21px);

    @include mx.typo(nokora, 700);
    font-size: fct.font-size(basic);
    line-height: 100%;
    letter-spacing: 0;
  }

  &__icon {
    display: block;
    width: fct.px-to-rem(20px);
    min-width: fct.px-to-rem(20px);
    height: fct.px-to-rem(20px);
    flex-shrink: 0;
    object-fit: contain;
    opacity: 1;
  }
}

@media (max-width: fct.breakpoint(mobile)) {
  .filters {
    &__status {
      gap: fct.size(md);
    }
  }
}