<div class="survey-cards">

  <section class="soon-cards">
    <div #soonList class="soon-cards__list" (pointerdown)="startDrag($event, soonList)"
      (pointermove)="drag($event, soonList)" (pointerup)="stopDrag($event, soonList)"
      (pointercancel)="stopDrag($event, soonList)">

      @for (survey of endingSoonSurveys; track survey.id) {
      <article class="soon-cards__card" [routerLink]="['/survey-detail', survey.id]" tabindex="0" role="link">
        <header class="soon-cards__header">
          <p class="soon-cards__category">
            {{ survey.category }}
          </p>

          <h3 class="soon-cards__title">
            {{ survey.title }}
          </h3>
        </header>

        <footer class="soon-cards__footer">
          <p class="soon-cards__ending">
            @if (survey.daysLeft === 0) {
            Survey expired
            } @else {
            Ends in {{ survey.daysLeft }}
            {{ survey.daysLeft === 1 ? 'Day' : 'Days' }}
            }
          </p>
        </footer>
      </article>
      }
    </div>
  </section>

  <div class="filters">
    <div class="filters__status">
      <button class="filters__button" [class.filters__button--active]="selectedStatus === 'active'" type="button"
        (click)="selectStatus('active')">
        Active survey
      </button>

      <button class="filters__button" [class.filters__button--active]="selectedStatus === 'past'" type="button"
        (click)="selectStatus('past')">
        Past survey
      </button>
    </div>

    <app-dropdown label="Sort by categories" [showSelectionBelow]="true"
      (categoryChange)="selectCategory($event)"></app-dropdown>
  </div>

  <section class="cards">
    <div class="cards__list">

      @for (survey of filteredSurveys; track survey.id) {
      <article class="cards__card" [routerLink]="['./survey-detail', survey.id]" tabindex="0" role="link">
        <header class="cards__header">
          <p class="cards__category">
            {{ survey.category }}
          </p>

          <h3 class="cards__title" [title]="survey.title">

            @if (survey.title.length <= 36) { {{ survey.title }} } @else { {{ survey.title.slice(0, 36) }}… } </h3>
        </header>

        <footer class="cards__footer">
          <p class="cards__ending">
            @if (survey.daysLeft === null) {
            No end date
            } @else if (survey.daysLeft === 0) {
            Survey expired
            } @else {
            Ends in {{ survey.daysLeft }}
            {{ survey.daysLeft === 1 ? 'Day' : 'Days' }}
            }
          </p>
        </footer>
      </article>
      }
    </div>
  </section>
</div>