<!-- <article class="survey-card survey-card--ending-soon"></article>
<article class="survey-card survey-card--list"></article> 
-->
<section class="survey-cards">
  <section class="survey-cards__ending-soon">
    <article class="survey-card survey-card--ending-soon">
      <p class="survey-card__category">Team activities</p>

      <h3 class="survey-card__title">
        Let’s Plan the Next Team Event Together
      </h3>

      <p class="survey-card__ending">Ends in 1 Day</p>
    </article>

    <article class="survey-card survey-card--ending-soon">
      <p class="survey-card__category">Health &amp; Wellness</p>

      <h3 class="survey-card__title">
        Fit &amp; wellness survey!
      </h3>

      <p class="survey-card__ending">Ends in 2 Days</p>
    </article>

    <article class="survey-card survey-card--ending-soon">
      <p class="survey-card__category">Gaming &amp; Entertainment</p>

      <h3 class="survey-card__title">
        Gaming habits and favorite games!
      </h3>

      <p class="survey-card__ending">Ends in 3 Days</p>
    </article>
  </section>

  <div class="survey-cards__filters">
    <div class="survey-cards__status-filter">
      <button
        class="survey-cards__filter survey-cards__filter--active"
        type="button"
      >
        Active survey
      </button>

      <button
        class="survey-cards__filter"
        type="button"
      >
        Past survey
      </button>
    </div>

    <app-dropdown></app-dropdown>
  </div>

  <section class="survey-cards__list">
    <article class="survey-card">
      <p class="survey-card__category">Team activities</p>

      <h3 class="survey-card__title">
        Let’s Plan the Next Team Event Together
      </h3>

      <p class="survey-card__ending">Ends in 1 Day</p>
    </article>

    <article class="survey-card">
      <p class="survey-card__category">Gaming</p>

      <h3 class="survey-card__title">
        Gaming habits and favorite games!
      </h3>

      <p class="survey-card__ending">Ends in 3 Days</p>
    </article>

    <article class="survey-card">
      <p class="survey-card__category">Gaming</p>

      <h3 class="survey-card__title">
        Gaming habits and favorite games!
      </h3>

      <p class="survey-card__ending">Ends in 3 Days</p>
    </article>

    <article class="survey-card">
      <p class="survey-card__category">Healthy Lifestyle</p>

      <h3 class="survey-card__title">
        Healthier future: Fit &amp; wellness survey!
      </h3>

      <p class="survey-card__ending">Ends in 2 Days</p>
    </article>

    <article class="survey-card">
      <p class="survey-card__category">Healthy Lifestyle</p>

      <h3 class="survey-card__title">
        Healthier future: Fit &amp; wellness survey!
      </h3>

      <p class="survey-card__ending">Ends in 2 Days</p>
    </article>

    <article class="survey-card">
      <p class="survey-card__category">Team activities</p>

      <h3 class="survey-card__title">
        Let’s Plan the Next Team Event Together
      </h3>

      <p class="survey-card__ending">Ends in 1 Day</p>
    </article>
  </section>
</section>