@use '../../styles/abstract/variables' as var;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/functions' as fct;

@media (max-width: fct.breakpoint(desktop)) {
    .cards {
        &__title {
            font-size: fct.px-to-rem(20px);
        }
    }

    .soon-cards__list {
        overflow-x: auto;
        touch-action: none;
    }
}

@media (max-width: fct.breakpoint(laptop)) {
    .cards {
        &__card {
            height: fct.px-to-rem(150px);
        }

        &__title {
            white-space: normal;
        }
    }

    .soon-cards {
        &__title {
            font-size: fct.font-size(xl);
        }
    }
}

.soon-cards__list {
    display: flex;
    gap: fct.size(lg);
    overflow-x: auto;
    overflow-y: hidden;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.soon-cards__card {
    flex: 0 0 fct.px-to-rem(300px);
}

@media (min-width: fct.breakpoint(cards-mobile)) and (max-width: fct.breakpoint(tablet)) {
    .cards__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 649px) {
    .filters {
        @include mx.flex(column, flex-start, stretch);
        gap: fct.size(xxxl);
    }

    .survey-cards {
        padding-inline: unset;
    }
}

@media (max-width: fct.breakpoint(mobile)) {
    .soon-cards {
        &__card {
            max-width: fct.px-to-rem(250px);
            height: fct.px-to-rem(233px);
            padding: fct.size(lg) fct.size(md);

            border-radius: 0 fct.px-to-rem(80px) 0 0;
        }
    }

    .filters {
        &__status {
            margin-top: fct.px-to-rem(36px);
        }
    }
}

@media (max-width: fct.breakpoint(tablet)) {
    .soon-cards {
        &__list {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;

            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            touch-action: pan-x;

            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }

            > * {
                flex: 0 0 auto;
                scroll-snap-align: start;
            }
        }
    }
}