@use '../../styles/abstract/variables' as var;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/functions' as fct;

.survey-cards {
    width: 100%;
    max-width: fct.layout(surveys);
    margin-inline: auto;
    padding-inline: fct.size(lg);
}

.soon-cards {
    margin-top: fct.size(xl);

    &__list {
        display: flex;
        gap: fct.size(xl);
    }

    &__card {
        @include mx.flex(column, space-between, stretch);
        width: fct.px-to-rem(321px);
        height: fct.px-to-rem(310px);
        padding: fct.size(xxl) fct.px-to-rem(18px);

        background-color: fct.color(bg-card);
        border-radius: 0 fct.px-to-rem(80px) 0 0;
        cursor: pointer;

        &:hover {
            background-color: fct.color(bg-card-hover);

            .soon-cards__footer {
                background-color: fct.color(primary-orange);
            }
        }
    }

    &__header {
        @include mx.flex(column, flex-start, stretch);
        gap: fct.px-to-rem(10px);
    }

    &__category {
        @include mx.typo(mulish, 600);
        font-size: fct.font-size(sm);
        line-height: 1;
        letter-spacing: 0;
        color: fct.color(primary-purple);
    }

    &__title {
        @include mx.typo(mulish, 700);
        font-size: fct.font-size(xxl);
        line-height: 1;
        letter-spacing: 0;
        color: fct.color(primary-purple);
    }

    &__ending {
        @include mx.typo(mulish, 500);
        color: fct.color(dark-purple);
        font-size: fct.font-size(xs);
        line-height: 1;
    }


    &__footer {
        display: flex;
        width: fit-content;
        padding: fct.px-to-rem(3px) fct.size(xs);

        background-color: fct.color(secondary-orange);
        border-radius: 0 fct.px-to-rem(14px) 0 0;
    }
}

.filters {
    @include mx.flex(row, space-between, center);
    width: 100%;
    max-width: fct.px-to-rem(fct.layout(surveys));
    min-height: fct.px-to-rem(25px);
    margin-block: fct.px-to-rem(25px);
}

:host {
    display: block;
}

.cards {
    margin-bottom: fct.px-to-rem(100px);
    height: auto;

    &__list {
        display: grid;
        align-content: start;
        gap: fct.size(md);
        height: auto;
        overflow: visible;

        @media (min-width: fct.breakpoint(tablet)) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

    @media (min-width: fct.breakpoint(surveys)) {
        max-height: fct.px-to-rem(413px);
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: fct.px-to-rem(8px);
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: fct.px-to-rem(10px);
            background-color: fct.color(primary-orange);
            box-shadow: fct.px-to-rem(3px) fct.px-to-rem(3px) fct.px-to-rem(3.2px) rgba(0, 0, 0, 0.25);
        }
    }

    &__card {
        @include mx.flex(column, flex-start, stretch);

        cursor: pointer;
        height: fct.px-to-rem(127px);
        gap: fct.size(lg);
        padding: fct.px-to-rem(12px) fct.px-to-rem(20px);
        background-color: fct.color(survey-bg);
        border-radius: fct.px-to-rem(5px) fct.px-to-rem(50px) fct.px-to-rem(5px) fct.px-to-rem(5px);

        &:hover {
            background-color: fct.color(survey-hover);
        }
    }

    &__header {
        @include mx.flex(column, flex-start, stretch);
        gap: fct.px-to-rem(8px);
    }

    &__category {
        @include mx.typo(mulish, 500);

        font-size: fct.font-size(basic);
        line-height: 1;
        letter-spacing: 0;
        color: fct.color(secondary-orange);
    }

    &__title {
        @include mx.typo(mulish, 700);

        font-size: fct.px-to-rem(24px);
        line-height: 1;
        letter-spacing: 0;
        color: fct.color(wht);


        @media (min-width: fct.breakpoint(tablet)) {
            white-space: nowrap;
        }
    }

    &__footer {
        @include mx.flex(row, flex-end, center);
    }

    &__ending {
        @include mx.flex(row, center, center);

        gap: fct.px-to-rem(10px);
        padding: fct.px-to-rem(3px) fct.size(xs);

        background-color: fct.color(secondary-orange);
        border-radius: 0 fct.px-to-rem(14px) 0 0;
    }
}