<button class="new-survey" [class.new-survey--success]="isSuccess" type="button" [disabled]="isAnimating"
    (click)="handleClick()">
    <span class="new-survey__text">
         {{ variant === 'header-create' ? 'Create survey' : 'New survey' }}
    </span>

    @if (isSuccess) {
    <img class="new-survey__icon new-survey__icon--check" src="/app-icons/check.svg" alt="" aria-hidden="true">
    } @else {
    <img class="new-survey__icon new-survey__icon--add" src="/app-icons/add_circle.svg" alt="" aria-hidden="true">
    }
     <span class="new-survey__tablet-icon"></span>
</button>