@use '../../styles/abstract/variables' as var;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/functions' as fct;


@media (max-width: fct.breakpoint(tablet)) {
    :host {
        @include mx.flex(row, center, center);
    }

    .new-survey:not(.new-survey--success) {
        width: fct.px-to-rem(172px);
        gap: fct.px-to-rem(10px);
        background-color: fct.color(primary-orange);

        .new-survey__icon--add {
            width: fct.size(lg);
            opacity: 1;
        }
    }
}

@media (max-width: fct.breakpoint(tablet)) {
    :host-context(.body--home) {
        .new-survey {
            display: inline-flex !important;
            align-items: center !important;
            justify-content: center !important;
            gap: fct.px-to-rem(10px);

            &__icon {
                display: none !important;
            }

            &__tablet-icon {
                display: block !important;
                width: fct.size(lg);
                height: fct.size(lg);

                background: url('/app-icons/add_circle.svg') center / contain no-repeat;
            }
        }
    }
}