@use '../../styles/abstract/variables' as var;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/functions' as fct;

@media (max-width: fct.breakpoint(laptop)) {
    .dropdown {
        margin-left: fct.px-to-rem(-8px);
        padding-bottom: fct.size(xl);

    }
}

@media (min-width: fct.breakpoint(laptop)) and (max-width: fct.breakpoint(desktop)) {
    .dropdown {
        &--create {
            .dropdown__selection,
            .dropdown__error {
                justify-self: center;
            }
        }
    }
}