@use '../../styles/abstract/variables' as var;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/functions' as fct;

.dropdown {
  position: relative;
  width: fct.px-to-rem(206px);

  &__selection,
  &__error {
    display: block;
    margin-top: fct.px-to-rem(10px);
    margin-left: fct.px-to-rem(10px);

    @include mx.typo(mulish, 400);

    font-size: fct.font-size(sm);
  }

  &__selection {
    color: fct.color(primary-orange);
  }

  &__error {
    color: fct.color(error);
  }

  &__label {
    @include mx.typo(mulish, 700);

    font-size: fct.px-to-rem(18px);
    line-height: 1;
    letter-spacing: 0;
    color: fct.color(wht);
  }

  &__trigger {
    @include mx.flex(row, space-between, center);
    width: 100%;
    gap: fct.px-to-rem(6px);
    padding: fct.px-to-rem(4px) fct.px-to-rem(6px) fct.px-to-rem(4px) fct.px-to-rem(10px);

    border: none;
    border-radius: fct.px-to-rem(6px);
    background-color: transparent;
    color: inherit;
    cursor: pointer;

    &--invalid {
      animation: category-error-pulse 350ms ease-in-out 2;

      .dropdown__icon {
        content: url('/app-icons/drop_down.svg');
      }
    }

    @include mx.typo(mulish, 700);
    font-size: fct.px-to-rem(18px);
    transition: background-color 300ms ease-out;

    &:hover:not(&--open) {
      background-color: fct.color(filter-hover);
    }

    &--open {
      background-color: fct.color(filter-hover);
    }
  }

  &__icon {
    width: fct.px-to-rem(20px);
    height: fct.px-to-rem(20px);
    transition: transform 150ms ease;
  }

  &__trigger:hover:not(&__trigger--open) &__icon {
    content: url('/app-icons/drop_down.svg');
  }

  &__menu {
    @include mx.flex(column, flex-start, flex-start);
    position: absolute;
    top: calc(100% + fct.px-to-rem(4px));
    left: 0;
    z-index: 10;

    width: 100%;
    gap: fct.px-to-rem(4px);
    padding: fct.px-to-rem(10px);

    border-radius: fct.px-to-rem(6px);
    background-color: white;
  }

  &__option {
    margin-block: fct.px-to-rem(10px);
    width: 100%;
    padding: 0;
    border: none;
    appearance: none;
    background: none;
    color: fct.color(dark-purple);
    text-align: left;
    cursor: pointer;

    @include mx.typo(mulish, 400);
    font-size: fct.px-to-rem(14px);
    line-height: 1;
    letter-spacing: 0.02em;
  }

  &__option-wrapper {
    @include mx.flex(row, flex-start, center);
    width: fit-content;
    height: fct.px-to-rem(26px);
    padding: fct.px-to-rem(5px) fct.px-to-rem(10px);
    gap: fct.size(xxs);

    background-color: transparent;
    border-radius: fct.size(xs);
    cursor: pointer;

    @include mx.transition();

    &:hover {
      background-color: fct.color(bg-card-hover);
    }
  }
}

@keyframes category-error-pulse {

  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: fct.color(filter-hover);
  }
}