@use '../shared/styles/abstract/variables' as var;
@use '../shared/styles/abstract/mixins' as mx;
@use '../shared/styles/abstract/functions' as fct;


.header {
    &__wrapper {
        @include mx.flex(row, space-between);
        height: fct.px-to-rem(61px);
        margin-block-end: fct.size(xl);

    }

    &__status {
        @include mx.flex();
        width: fit-content;
        padding: fct.px-to-rem(3px) fct.size(sm) fct.px-to-rem(3px) fct.px-to-rem(8px);
        gap: fct.px-to-rem(10px);

        @include mx.typo(mulish, 400);
        font-size: fct.font-size(basic);
        line-height: fct.px-to-rem(20px);

        color: fct.color(primary-purple);
        background-color: fct.color(secondary-orange);
        border-radius: 0 fct.px-to-rem(14px) 0 0;
    }

    &__title {
        width: fct.px-to-rem(588px);
        height: 100%;
        margin: 0;

        @include mx.typo(nerko-one, 400);
        font-size: fct.font-size(d-md);
        line-height: 1;
        letter-spacing: 0;

        color: fct.color(title-orange);
    }
}

.create-survey {
    @include mx.flex(row, center, center);
    width: 100%;
    max-width: fct.layout(content-max);
    margin-inline: auto;
    padding-block-start: fct.px-to-rem(72px);
    margin-bottom: fct.px-to-rem(100px);

    .content-wrapper {
        width: 100%;
        max-width: fct.px-to-rem(1166px);
        min-height: fct.px-to-rem(844px);
        height: auto;
        margin-inline: auto;
        padding: fct.size(xxl) fct.px-to-rem(54px);

        color: fct.color(wht);
        background-color: fct.color(primary-purple);
        border-radius: fct.px-to-rem(5px) fct.px-to-rem(100px) fct.px-to-rem(5px) fct.px-to-rem(5px);
    }

    &__content {
        @include mx.flex(column, flex-start, stretch);
        width: 100%;
        max-width: fct.px-to-rem(1166px);
        min-height: fct.px-to-rem(549px);
        height: auto;
        margin-inline: auto;
        padding: fct.size(xxl) fct.px-to-rem(54px);
        gap: fct.size(xxxl);
        background-color: fct.color(form-bg);
        border-radius: fct.px-to-rem(5px) fct.px-to-rem(100px) fct.px-to-rem(5px) fct.px-to-rem(5px);
    }

    &__form {
        @include mx.flex(column, flex-start, stretch);
    }
}

.survey-details {
    width: 100%;
    max-width: fct.px-to-rem(986px);
    min-height: fct.px-to-rem(134px);

    &__wrapper {
        @include mx.flex(row, flex-start, stretch);
        width: 100%;
        min-height: inherit;
        gap: fct.size(huge);
    }

    &__left {
        @include mx.flex(column, flex-start, stretch);
        width: fct.px-to-rem(470px);
        min-height: fct.px-to-rem(134px);
        gap: fct.px-to-rem(8px);
    }

    .form-field--description {
        width: fct.px-to-rem(452px);
        min-height: fct.px-to-rem(134px);
    }

    &__left {
        @include mx.flex(column, flex-start, stretch);
        width: fct.px-to-rem(470px);
        gap: fct.size(xxs);
    }

    &__row {
        @include mx.flex(row, flex-start, flex-start);
        width: 100%;
        gap: fct.px-to-rem(8px);
    }

    &__category {
        flex: 1;
    }
}

.survey-questions {
    width: 100%;
    max-width: fct.px-to-rem(986px);
    min-height: fct.px-to-rem(271px);

    &__wrapper {
        @include mx.flex(row, flex-start, flex-start);
        flex-wrap: wrap;
        width: 100%;
        min-height: inherit;
        gap: fct.size(lg);
    }
}

.form-field {
    color: fct.color(wht);
    font-size: fct.font-size(md);
    line-height: 100%;
    letter-spacing: 0;
    width: 100%;

    &--end-date {
        width: fct.px-to-rem(256px);
        flex-shrink: 0;
    }

    &__label {
        @include mx.typo(mulish, 700);

        &--optional {
            @include mx.typo(mulish, 400);
        }
    }

    &__control {
        @include mx.flex(row, flex-start, center);
    }
}

.question {
    flex: 0 0 fct.px-to-rem(429px);
    width: fct.px-to-rem(429px);
    min-height: fct.px-to-rem(271px);
    height: auto;

    &__label {
        @include mx.typo(mulish, 700);
        color: fct.color(wht);
        font-size: fct.font-size(md);
        line-height: 100%;
        letter-spacing: 0;
    }

    &__header {
        @include mx.flex(row, stretch, center);
        width: 100%;
    }
}

.answer {
    @include mx.flex(row, flex-start, center);
}