@use '../shared/styles/abstract/variables' as var;
@use '../shared/styles/abstract/mixins' as mx;
@use '../shared/styles/abstract/functions' as fct;

.header {
    &__wrapper {
        @include mx.flex(row, space-between);
        height: fct.px-to-rem(61px);
        margin-block-end: fct.size(xl);

    }

    &__status {
        @include mx.flex();
        width: fit-content;
        padding: fct.px-to-rem(3px) fct.size(sm) fct.px-to-rem(3px) fct.px-to-rem(8px);
        gap: fct.px-to-rem(10px);

        @include mx.typo(mulish, 400);
        font-size: fct.font-size(basic);
        line-height: fct.px-to-rem(20px);

        color: fct.color(primary-purple);
        background-color: fct.color(secondary-orange);
        border-radius: 0 fct.px-to-rem(14px) 0 0;
    }

    &__title {
        width: fct.px-to-rem(588px);
        height: 100%;
        margin: 0;

        @include mx.typo(nerko-one, 400);
        font-size: fct.font-size(d-md);
        line-height: 1;
        letter-spacing: 0;

        color: fct.color(title-orange);
    }
}

.create-survey {
    @include mx.flex(row, center, center);
    width: 100%;
    max-width: fct.layout(content-max);
    margin-inline: auto;
    padding-block-start: fct.px-to-rem(72px);
    margin-bottom: fct.px-to-rem(100px);

    .content-wrapper {
        width: 100%;
        max-width: fct.px-to-rem(1166px);
        min-height: fct.px-to-rem(844px);
        height: auto;
        margin-inline: auto;
        padding: fct.size(xxl) fct.px-to-rem(54px);

        color: fct.color(wht);
        background-color: fct.color(primary-purple);
        border-radius: fct.px-to-rem(5px) fct.px-to-rem(100px) fct.px-to-rem(5px) fct.px-to-rem(5px);
    }

    &__content {
        @include mx.flex(column, flex-start, stretch);
        width: 100%;
        max-width: fct.px-to-rem(1166px);
        min-height: fct.px-to-rem(549px);
        height: auto;
        margin-inline: auto;
        padding: fct.size(xxl) fct.px-to-rem(54px);
        gap: fct.size(xxxl);
        background-color: fct.color(form-bg);
        border-radius: fct.px-to-rem(5px) fct.px-to-rem(100px) fct.px-to-rem(5px) fct.px-to-rem(5px);
    }

    &__form {
        @include mx.flex(column, flex-start, stretch);
    }
}

.survey-details {
    width: 100%;
    max-width: fct.px-to-rem(986px);
    min-height: fct.px-to-rem(134px);

    &__wrapper {
        @include mx.flex(row, flex-start, stretch);
        width: 100%;
        min-height: inherit;
        gap: fct.size(huge);
    }

    &__left {
        @include mx.flex(column, flex-start, stretch);
        width: fct.px-to-rem(470px);
        min-height: fct.px-to-rem(134px);
        gap: fct.px-to-rem(8px);
    }

    .form-field--description {
        width: fct.px-to-rem(452px);
        min-height: fct.px-to-rem(134px);
    }

    &__left {
        @include mx.flex(column, flex-start, stretch);
        width: fct.px-to-rem(470px);
        gap: fct.size(xxs);
    }

    &__row {
        @include mx.flex(row, flex-start, flex-start);
        width: 100%;
        gap: fct.px-to-rem(8px);
    }

    &__category {
        flex: 1;
    }
}

.survey-questions {
    width: 100%;
    max-width: fct.px-to-rem(986px);
    min-height: fct.px-to-rem(271px);

    &__wrapper {
        @include mx.flex(row, space-between, flex-start);
        flex-wrap: wrap;
        width: 100%;
        min-height: inherit;
        gap: fct.size(lg);
    }
}

.form-field {
    @include mx.flex(column, flex-start, stretch);
    gap: fct.px-to-rem(8px);
    color: fct.color(wht);
    font-size: fct.font-size(md);
    line-height: 100%;
    letter-spacing: 0;
    width: 100%;

    &__wrapper {
        @include mx.flex(row, flex-start, center);
        gap: fct.px-to-rem(8px);
    }

    &--end-date {
        width: fct.px-to-rem(256px);
        flex-shrink: 0;
        @include mx.typo(mulish, 400);
        font-size: fct.font-size(basic);
    }

    &__label {
        @include mx.typo(mulish, 700);
        padding-top: fct.px-to-rem(8px);

        &--optional {
            @include mx.typo(mulish, 400);
        }
    }

    &__control {
        @include mx.flex(row, flex-start, center);
        gap: fct.px-to-rem(8px);

        &--flex-start {
            display: flex;
            align-items: flex-start;
        }
    }
}

.question {
    flex: 0 0 fct.px-to-rem(429px);
    width: fct.px-to-rem(429px);
    min-height: fct.px-to-rem(271px);
    height: auto;

    &__answers {
        @include mx.flex(column, flex-start, stretch);
        width: fct.px-to-rem(424px);
        min-height: fct.px-to-rem(82px);
        height: auto;
        gap: fct.px-to-rem(8px);
    }

    &__answers-header {
        @include mx.flex(row, space-between, center);
        margin: fct.size(lg) 0 fct.size(md);
        width: fct.px-to-rem(429px);
        height: fct.px-to-rem(22px);
    }

    &__label {
        @include mx.typo(mulish, 700);
        color: fct.color(wht);
        font-size: fct.font-size(md);
        line-height: 100%;
        letter-spacing: 0;
    }

    &__header {
        @include mx.flex(row, space-between, center);
        width: 100%;
        margin-bottom: fct.px-to-rem(10px);
        gap: fct.px-to-rem(8px);
    }

    &__input {
        &::placeholder {
            @include mx.typo(mulish, 400);
            font-size: fct.font-size(basic);
            line-height: 100%;
            letter-spacing: 0;

            color: fct.color(primary-purple);
            opacity: 1;
        }
    }
}

.answer {
    @include mx.flex(row, flex-start, center);
    gap: fct.px-to-rem(8px);
}

.add-wrapper {
    margin-top: fct.size(md);
}

.checkbox {
    @include mx.flex(row, center, center);
    gap: fct.size(xxs);
    cursor: pointer;

    &__input {
        appearance: none;
        box-sizing: border-box;
        width: fct.px-to-rem(15px);
        height: fct.px-to-rem(15px);
        margin: fct.px-to-rem(3px);
        flex-shrink: 0;
        cursor: pointer;

        background-color: fct.color(primary-purple);
        border: fct.px-to-rem(1.5px) solid fct.color(wht);
        border-radius: fct.px-to-rem(3px);

        &:hover {
            background-color: rgba(255, 207, 161, 0.6);
            border-color: fct.color(bg-card);
        }

        &:checked {
            background-color: fct.color(primary-orange);
            background-image: url('/app-icons/check.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: fct.px-to-rem(10px);
            border: 0;
        }
    }
}

.footer {
    margin-top: fct.size(xxxl);

    &__wrapper {
        @include mx.flex(row-reverse, flex-start, stretch);
        position: relative;
    }
}