/*  $colors
    $sizes
    $font-sizes 
*/

$colors: (
  primary-purple: rgba(53, 39, 58, 1),
  primary-orange: rgba(255, 183, 112, 1),
  secondary-orange: rgba(255, 207, 161, 1),
  filter-hover: rgba(217, 217, 217, 0.12),
  bg-card: rgba(250, 245, 254, 1),
  bg-card-hover: rgba(244, 233, 251, 1),
  secondary-btn: rgba(254, 233, 212, 1),
  tertiary-btn: rgba(250, 245, 254, 0.2),
  survey-bg: rgba(217, 217, 217, 0.08),
  survey-hover: rgba(217, 217, 217, 0.16),
  wht: rgba(255, 255, 255, 1),
  bar-background: rgba(237, 237, 237, 1),
  result-percentage: rgba(215, 148, 81, 1),
  form-bg: rgba(142, 112, 153, 0.16),
  title-orange: rgba(238, 146, 54, 1),
  cancel-btn: rgba(255, 183, 112, 0.3),
  error: rgba(220, 53, 69, 1),
);

$sizes: (
  xxs: 4px,
  xs: 6px,
  sm: 12px,
  md: 16px,
  lg: 24px,
  xl: 32px,
  xxl: 40px,
  xxxl: 48px,
  logo: 46px,
  huge: 64px
);

$font-sizes: (
  xs: 12px,
  sm: 14px,
  basic: 16px,
  md: 18px,
  lg: 20px,
  xl: 24px,
  xxl: 26px,
  xxxl: 32px,

  // d = display
  d-sm: 54px,
  d-md: 56px,
  d-lg: 62px,
  d-xl: 72px,
  d-xxl: 100px
);

$fonts: (
  mulish: 'Mulish',
  nokora: 'Nokora',
  nerko-one: 'Nerko One',
);

$breakpoints: (
  mobile: 480px,
  cards-mobile: 650px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1200px,
  widescreen: 1441px,
);

$layout: (
  content-max: 1440px,
  content-inner: 1200px,
  surveys: 1042px
);