@use 'app/shared/styles/base/typography';
@use 'app/shared/styles/abstract/functions' as fct;
@use 'app/shared/styles/components/main';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-wrapper {
    width: 100%;
    max-width: fct.layout(content-max);
    margin-inline: auto;
}

.body {
    &--home {
        background-color: fct.color(primary-purple);
    }

    &--detail {
        background-color: fct.color(primary-orange);
    }
}