@use '../shared/styles/abstract/variables' as var;
@use '../shared/styles/abstract/mixins' as mx;
@use '../shared/styles/abstract/functions' as fct;

:host {
    display: block;
}

.home {
    margin-top: fct.px-to-rem(100px);

    &__wrapper {
        max-width: fct.layout(content-inner);
        margin-inline: auto;
        width: fct.content-width(55px);
    }

    &__hero {
        @include mx.flex(row, space-between, flex-start);
    }

    &__hero-content {
        width: calc(100% - fct.px-to-rem(400px));
    }

    &__hero-image-wrapper {
        position: relative;
        height: fct.px-to-rem(420px);
        width: fct.px-to-rem(420px);

        @media (min-width: 769px) {
            &:hover {

                .home__hero-image--default,
                .home__hero-bubble--default {
                    opacity: 0;
                }

                .home__hero-image--hover,
                .home__hero-bubble--hover {
                    opacity: 1;
                }
            }
        }
    }

    &__hero-image {
        position: absolute;
        inset: 0;
        height: fct.px-to-rem(420px);
        width: fct.px-to-rem(420px);
        transition: opacity 300ms ease;

        &--hover {
            opacity: 0;
        }
    }

    &__hero-bubble {
        position: absolute;
        transition: opacity 300ms ease;

        &--default {
            top: fct.px-to-rem(97px);
            left: fct.px-to-rem(76px);
            width: fct.px-to-rem(105px);
            height: fct.px-to-rem(76px);
        }

        &--hover {
            top: fct.px-to-rem(59px);
            left: fct.px-to-rem(14px);
            width: fct.px-to-rem(177px);
            height: fct.px-to-rem(115px);
            opacity: 0;
        }
    }

    &__title {
        @include mx.typo(nerko-one, 400);

        font-size: fct.font-size(d-xxl);
        line-height: fct.px-to-rem(89px);
        color: fct.color(primary-orange);
        margin-bottom: fct.px-to-rem(24px);

        white-space: nowrap;

        &--break {
            display: none;
        }
    }

    &__description-wrapper {
        width: 100%;
        max-width: fct.px-to-rem(666px);
    }

    &__description {
        @include mx.typo(mulish, 600);

        font-size: fct.font-size(xl);
        line-height: 1;
        color: white;
    }

    &__create-button {
        margin-top: fct.size(xxxl);
    }
}

.surveys {
    width: 100%;
    max-width: fct.layout(surveys);
    margin-inline: auto;
    padding-inline: fct.size(lg);

    &__title-wrapper {
        @include mx.flex(column, flex-start, stretch);
        gap: fct.px-to-rem(42px);
    }

    &__title {
        @include mx.typo(nerko-one, 400);

        margin-top: fct.px-to-rem(82px);
        font-size: fct.font-size(d-xl);
        line-height: 1;
        text-align: center;
        color: fct.color(primary-orange);
    }

    &__subtitle {
        @include mx.typo(mulish, 500);

        font-size: fct.font-size(xl);
        line-height: 1;
        color: rgba(255, 255, 255, 1);
    }
}