@use '../../styles/abstract/variables' as var;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/functions' as fct;

.header {
    @include mx.flex(row, space-between, center);
    margin-top: fct.px-to-rem(39px);

    &__wrapper {
        width: 100%;
        max-width: fct.layout(content-inner);
        margin-inline: auto;
        padding-inline: fct.px-to-rem(55px);
        box-sizing: border-box;
    }

    &__logo {
        height: fct.size(logo);
    }
}