@use '../../styles/abstract/variables' as var;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/functions' as fct;

.header {
    @include mx.flex(row, space-between, center);
    margin-top: fct.px-to-rem(39px);

    &__wrapper {
        @include mx.flex(row, space-between, center);
        width: fct.content-width(55px);
        max-width: fct.layout(content-inner);
        margin-inline: auto;
        box-sizing: border-box;
    }

    &__logo {
        height: fct.size(logo);
    }
}