@use '../shared/styles/abstract/variables' as var;
@use '../shared/styles/abstract/mixins' as mx;
@use '../shared/styles/abstract/functions' as fct;

@media (min-width: fct.breakpoint(widescreen)) {
    .survey-detail {
        @include mx.flex(column, center, stretch);
        min-height: 80vh;
    }
}

@media (max-width: fct.breakpoint(desktop)) {
    .survey-detail {
        &__form {
            grid-template-columns: minmax(0, 2.23fr) minmax(0, 1fr);
        }

        &__content,
        &__results {
            width: 100%;
            min-width: 0;
        }
    }

    .survey-answer {
        width: 100%;
        max-width: fct.px-to-rem(281px);
    }
}

@media (max-width: 1050px) {
    .survey-detail {
        &__title {
            font-size: fct.px-to-rem(48px);
        }
    }
}

@media (min-width: calc(fct.breakpoint(tablet) + 1px)) {
    .survey-detail {
        &__results {
            display: block;
            opacity: 1;
            visibility: visible;
            filter: none;
            transform: none;
        }

        &__results-toggle {
            display: none;
        }
    }
}

@media (max-width: fct.breakpoint(laptop)) {
    .survey-detail {
        &__header {
            width: auto;
        }

        &__category {
            &--break {
                display: block;
            }
        }
    }
}

@media (max-width: fct.breakpoint(tablet)) {
    .survey-detail {
        &__form {
            grid-template-columns: minmax(0, 1fr);
        }

        &__category--break {
            display: none;
        }

        &__content {
            width: auto;
            max-width: 100%;
        }

        &__results {
            width: auto;
        }
    }

    .survey-detail {
        &__results-toggle {
            margin-bottom: 30px;
        }

        &__results {
            width: auto;
            max-height: 0;
            margin-top: 0;
            overflow: hidden;

            opacity: 0;
            visibility: hidden;
            filter: blur(14px);
            transform: scale(0.96);

            transition:
                max-height 800ms ease,
                margin-top 800ms ease,
                opacity 800ms ease,
                filter 800ms ease,
                transform 800ms ease,
                visibility 0s 800ms;

            &--open {
                max-height: fct.px-to-rem(100vh);

                opacity: 1;
                visibility: visible;
                filter: blur(0);
                transform: scale(1);
                margin-bottom: 30px;

                transition:
                    max-height 800ms ease,
                    margin-top 800ms ease,
                    opacity 800ms ease,
                    filter 800ms ease,
                    transform 800ms ease,
                    visibility 0s;
            }
        }
    }
}

@media (max-width: fct.breakpoint(cards-mobile)) {
    .survey-detail {
        width: fct.content-width(16px);

        &__questions {
            grid-template-columns: unset;
        }
    }
}

@media (max-width: fct.breakpoint(mobile)) {
    .survey-detail {
        &__intro {
            @include mx.flex(column);
            gap: fct.font-size(lg);
        }

        &__content {
            padding-inline: fct.size(lg);
            border-radius: fct.size(md) fct.px-to-rem(80px) fct.size(md) fct.size(md);
            margin-bottom: 40px;
        }
    }
}